/**
 * Site header
 */
.site-header {
  background-color:#fff;
  min-height: $spacing-unit * 1.865;
  border-bottom: 1px solid $grey-color-light;

  // Positioning context for the mobile navigation icon
  position: relative;

  > .wrapper {
    > * {
      margin:21px 20px 21px 0;
    }
  }

}

.site-logo {
  background: transparent;
  height:33px;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 0;
  float:left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float:left;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    @include relative-font-size(0.8);
    color: $grey-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

}



/**
 * Site footer
 */
.site-footer {
  > .wrapper {
    padding-top: $paragraph-unit * 1;
    padding-bottom: $paragraph-unit * 0.5;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  border-bottom: 1px solid #eee;
  background-color:#f5f5f5;

  > .wrapper {
    padding-top: $paragraph-unit * 1;
    padding-bottom: $paragraph-unit * 1;
  }

}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin:0;
  list-style: none;
  font-size:0;

  > li {
    @include relative-font-size(1);
    display:inline-block;
    padding:5px;
    margin-bottom:$paragraph-unit;
    width:50%;
  }
}

.post-cover {
  display:block;
  width:auto;
  height:120px;
  background:transparent no-repeat 50%;
  background-size:contain;
  margin-bottom:8px;
}

.post-link {
  display: block;
  text-align:center;

  > h4 {
    @include relative-font-size(0.9);
  }
}



/**
 * Posts
 */

.post {
  letter-spacing: 0.015em;
}

.post-header {
  margin-bottom: $paragraph-unit * 1.2;

  > h1 {
    font-weight:bold;
    @include relative-font-size(2.75);
    line-height:1.2em;
    letter-spacing:0.02em;
  }

  .post-icon > svg {
    display: inline-block;
    vertical-align: baseline;
    width:8px;
    height:8px;
    margin-left:4px;
  }

}

.post-desc {
  margin-bottom:$line-unit;
}

.post-content {
  margin-bottom:$paragraph-unit * 1.5;

  > p {
    margin-bottom:20px;

    > a {
      text-decoration:underline;
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

}

.post-covers {
  text-align:center;
  margin-bottom: $paragraph-unit * 2 - $line-unit;

  > p {

    margin-bottom: $line-unit;

    > .post-img {
      display:block;
      width:auto;
      height:300px;
      background:transparent no-repeat 50%;
      background-size:contain;
      cursor:pointer;
    }

    > .post-img.enlarge {
      height:600px;
      background-size:cover;
    }

  }

}

.post-meta {
  text-align: right;
  font-size: $small-font-size;
  line-height: 1.4em;

  > p {
    margin-bottom:$line-unit;
  }
}

