/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  > .wrapper {
    border-bottom: 1px solid $grey-color-light;

    > * {
      margin:45px 0 35px 0;
    }
  }

}

.site-logo {
  background: transparent;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: 1em;
  letter-spacing: -1px;
  margin-bottom: 0;
  float:left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float:right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {

  > .wrapper {
    padding: $paragraph-unit 0 $paragraph-unit 0;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {

  > .wrapper {
    padding: $paragraph-unit 0 $paragraph-unit 0;
    border-bottom: 1px solid $grey-color-light;
  }

}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin:0;
  list-style: none;
  font-size:0;

  > li {
    @include relative-font-size(1);
    display:inline-block;
    padding:5px;
    margin-bottom:$paragraph-unit / 2;
    width:50%;
  }
}

.post-cover {
  display:block;
  width:auto;
  height:120px;
  background:$background-color no-repeat 50%;
  background-size:contain;
  margin-bottom:24px;
}

.post-link {
  display: block;
  text-align:center;

  > h4 {
    @include relative-font-size(0.85);
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $paragraph-unit * 0.75;

  > h1 {
    font-weight:bold;
    @include relative-font-size(1);
  }
}

.post-desc {
  margin-bottom:$paragraph-unit * 0.5;
}

.post-content {
  margin-bottom:$paragraph-unit;

  > p {
    margin-bottom:20px;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

}

.post-covers {
  text-align:center;

  > p {

    margin-bottom: $paragraph-unit;

    > .post-img {
      display:block;
      width:auto;
      height:300px;
      background:$background-color no-repeat 50%;
      background-size:contain;
    }

    > .post-img.enlarge {
      height:600px;
      background-size:cover;
    }

  }

}

.post-meta {
  text-align: right;
  font-size: $small-font-size;
  line-height: 2em;
  color: $grey-color;
}

