/**
 * Site header
 */

.site-header {
    min-height: $spacing-unit * 1.865;
    padding-top: $paragraph-unit * 3;
    position: relative;
}

.site-title {
    >h1 {
        margin: 0;
        font-weight: 700;
        line-height: 2em;
        >.logo {
            margin-right: 4px;
        }
    }
    &,
    &:hover,
    &:visited {
        color: $grey-color-dark;
        text-decoration: none;
    }
}

.site-nav {
    .nav-trigger {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .page-link {
        text-decoration: underline;
    }
}


/**
 * Footer
 */

.site-footer {
    padding-bottom: $spacing-unit * 5;
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */

.page-content {
    >.wrapper {
        padding: $paragraph-unit;
        >h2 {
            margin-bottom: $paragraph-unit;
        }
    }
}

.page-heading {}

.post-list {
    margin: 0;
    padding-left: $spacing-unit * 1.5;
    font-size: 0;
    >li {
        @include relative-font-size(1);
        line-height: 1.6em;
    }
}

.post-link {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #000;
    }
    >* {
        margin-right: 4px;
    }
    >h4 {
        display: inline;
        text-decoration: underline;
    }
    >.desc {
        @include relative-font-size(.62);
    }
}

.post-cover {
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    background: transparent no-repeat 50%;
    background-size: cover;
    margin-left: 24px;
}


/**
 * Posts
 */

.post {
    @include relative-font-size(.8);
    >.post-title {
        margin-bottom: $paragraph-unit;
        &>a:link,
        &>a:visited,
        &>a:hover,
        &>a:active {
            color: #000;
        }
    }
    >p {
        margin-bottom: $paragraph-unit;
        &>a:link,
        &>a:visited,
        &>a:hover,
        &>a:active {
            color: #000;
            text-decoration: underline;
        }
    }
    .post-icon>svg {
        display: inline-block;
        vertical-align: baseline;
        width: 16px;
        height: 16px;
    }
    >.post-covers {
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        >li {
            float: left;
            >.post-img {
                height: 200px;
                margin-right: $spacing-unit *.5;
                cursor: pointer;
            }
            >.post-img.enlarge {
                height: 600px;
                background-size: cover;
            }
        }
    }
    >.post-meta {
        >* {
            margin-right: 8px;
        }
    }
}