<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {% if page.title %}
              {{ content }}
            {% else %}
            <h2>{{ site.title }}</h2>

            <ul class="post-list">
                <li>
                    <a class="post-link" href="/about">
                        <h4>About</h4>
                    </a>
                </li>

                {% for post in site.posts %}
                <li>

                    <a class="post-link" href="{{ post.url | relative_url }}">
                        <h4>{{ post.title | escape }}</h4>
                        <span class="desc">{{ post.platform | escape }}</span>
                    </a>

                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </main>

    {% include footer.html %}

</body>

</html>