---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <h1 class="post-title" itemprop="name headline">
        {% if page.link %}
        <a href="{{ page.link }}" target="_blank">
      {{ page.title | escape }}
      <span class="icon post-icon">{% include icon-link.svg %}</span>
    </a> {% else %} {{ page.title | escape }} {% endif %}
    </h1>

    <p class="post-desc">
        {{ page.desc | escape }}
    </p>

    {{ content }}

    <p>
      <ul class="post-covers">
          {% for cover in page.covers %}
          <li><img class="post-img" src="{{ cover | relative_url }}" onclick="this.classList.toggle('enlarge')"></li>
          {% endfor %}
      </ul>
    </p>

    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.date | date: "%Y" }}.</time>
        <span> {{ page.platform | escape }}</span>
    </p>

    <p>{{ page.stack | escape }}</p>

    {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
</article>